Repository georchestra/mapstore2-cadastrapp, pull requests merged in 2021-02, with the labels that each got.

#46 #14 Implementation of Landed Property
  build/extension/prod-webpack.config.js
  build/extension/webpack.config.js
  js/extension/actions/cadastrapp.js
  js/extension/api/api.js
  js/extension/cadastrapp.css
  js/extension/components/landedproperty/Content.jsx
  js/extension/components/landedproperty/MapView.jsx
  js/extension/components/landedproperty/Modal.jsx
  js/extension/components/plot/PlotSelectionToolbar.jsx
  js/extension/constants.js
  js/extension/epics/cadastrapp.js
  js/extension/epics/events.js
  js/extension/epics/mapSelection.js
  js/extension/ficheUniteFonciere.css
  js/extension/ficheUniteFonciere.css.txt
  js/extension/plugins/cadastrapp/LandedProperty.jsx
  js/extension/plugins/cadastrapp/Main.jsx
  js/extension/plugins/cadastrapp/PlotSelection.jsx
  js/extension/reducers/cadastrapp.js
  js/extension/selectors/cadastrapp.js
Labels: CADASTRAPP, Contract #2, Priority: High, enhancement

#45 #6: Popup view for Cadastrapp
  assets/index.json
  assets/translations/data.en-US.json
  assets/translations/data.fr-FR.json
  assets/translations/data.it-IT.json
  js/extension/actions/cadastrapp.js
  js/extension/api/api.js
  js/extension/cadastrapp.css
  js/extension/components/popup/PopupViewer.jsx
  js/extension/components/popup/__tests__/PopupViewer-test.js
  js/extension/constants.js
  js/extension/enhancers/init.jsx
  js/extension/epics/__tests__/mapSelection-test.js
  js/extension/epics/__tests__/setup-test.js
  js/extension/epics/cadastrapp.js
  js/extension/epics/mapSelection.js
  js/extension/epics/setup.js
  js/extension/reducers/__tests__/cadastrapp-test.js
  js/extension/reducers/cadastrapp.js
  js/extension/selectors/cadastrapp.js
  localConfig.json
Labels: CADASTRAPP, Contract #2, Priority: High, enhancement

#50 #32. Implemented owners search. Improvements to loading spinners and …
  js/extension/actions/cadastrapp.js
  js/extension/api/api.js
  js/extension/cadastrapp.css
  js/extension/components/PlotSelection.jsx
  js/extension/components/forms/Address.jsx
  js/extension/components/forms/Identifier.jsx
  js/extension/components/forms/Lot.jsx
  js/extension/components/information/Buildings.jsx
  js/extension/components/information/PropertiesRadio.jsx
  js/extension/components/owners/Modal.jsx
  js/extension/components/plot/PlotSelectionToolbar.jsx
  js/extension/components/popup/PopupViewer.jsx
  js/extension/components/search/CoownershipSearch.jsx
  js/extension/components/search/OwnersSearch.jsx
  js/extension/components/search/PlotSearch.jsx
  js/extension/components/search/SearchButtons.jsx
  js/extension/components/table/BuildingsTable.jsx
  js/extension/components/table/OwnersListTable.jsx
  js/extension/components/table/PlotsSelectionTable.jsx
  js/extension/constants.js
  js/extension/epics/cadastrapp.js
  js/extension/epics/information.js
  js/extension/epics/mapSelection.js
  js/extension/epics/search.js
  js/extension/plugins/cadastrapp/PlotSelection.jsx
  js/extension/plugins/cadastrapp/SearchSection.jsx
  js/extension/reducers/cadastrapp.js
  js/extension/selectors/cadastrapp.js
  js/extension/utils/download.js
Labels: CADASTRAPP, enhancement

#51 #18: Request form
  assets/translations/data.en-US.json
  assets/translations/data.fr-FR.json
  assets/translations/data.it-IT.json
  js/extension/actions/cadastrapp.js
  js/extension/api/api.js
  js/extension/cadastrapp.css
  js/extension/components/RequestItemsCheckboxes.jsx
  js/extension/components/forms/SearchCombo.jsx
  js/extension/components/lists/ReferenceRow.jsx
  js/extension/components/modals/Request.jsx
  js/extension/components/modals/__tests__/Request-test.js
  js/extension/components/request/RequestItemsCheckboxes.jsx
  js/extension/components/request/RequestObject.jsx
  js/extension/components/request/RequestObjectItem.jsx
  js/extension/components/request/__tests__/RequestItemCheckboxes-test.js
  js/extension/components/request/__tests__/RequestObject-test.js
  js/extension/components/request/__tests__/RequestObjectItem-test.js
  js/extension/components/request/searchCombos/ProprietaireComboList.jsx
  js/extension/components/request/searchCombos/SectionCombo.jsx
  js/extension/components/request/searchCombos/__tests__/ProprietaireComboList-test.js
  js/extension/components/request/searchCombos/__tests__/SectionCombo-test.js
  js/extension/epics/__tests__/mapSelection-test.js
  js/extension/epics/__tests__/requestForm-test.js
  js/extension/epics/cadastrapp.js
  js/extension/epics/requestForm.js
  js/extension/plugins/cadastrapp/toolbar/RequestLanding.jsx
  js/extension/plugins/cadastrapp/toolbar/__tests__/RequestLanding-test.jsx
  js/extension/reducers/cadastrapp.js
  js/extension/utils/requestForm.js
Labels: CADASTRAPP, Contract #2, Priority: High, enhancement

#54 #36 Show tools depending on user role
  js/extension/components/MainPanel copy.jsx
  js/extension/components/PlotSelection.jsx
  js/extension/components/plot/PlotSelectionToolbar.jsx
  js/extension/plugins/cadastrapp/Main.jsx
  js/extension/plugins/cadastrapp/MainPanel.jsx
  js/extension/plugins/cadastrapp/PlotSelection.jsx
  js/extension/plugins/cadastrapp/toolbar/SearchTools.jsx
  js/extension/selectors/cadastrapp.js
  js/extension/test-resources/lot_cadastrapp.csv
  js/extension/test-resources/owner_Ids.csv
Labels: CADASTRAPP, Contract #2, enhancement

#55 #37. Sorting plot selection, comboboxes overflow, autoopen plot + minor
  js/extension/cadastrapp.css
  js/extension/components/forms/Lot.jsx
  js/extension/components/forms/OwnerLot.jsx
  js/extension/components/lists/ReferencesList.jsx
  js/extension/components/table/MultilineHeaderTable.jsx
  js/extension/components/table/PlotsSelectionTable.jsx
  js/extension/epics/search.js
  js/extension/reducers/cadastrapp.js
Labels: CADASTRAPP, Contract #2

#56 #48 Keep same state #37 Solve toolbar/catalog issues
  js/extension/actions/cadastrapp.js
  js/extension/epics/layerSync.js
  js/extension/epics/mapSelection.js
  js/extension/epics/setup.js
  js/extension/reducers/cadastrapp.js
Labels: CADASTRAPP, Contract #2

#58 #20 fixed issue with window and width update
  js/extension/actions/cadastrapp.js
  js/extension/cadastrapp.css
  js/extension/components/modals/Preferences.jsx
  js/extension/components/style/StyleEditor.jsx
  js/extension/epics/layerSync.js
  js/extension/plugins/cadastrapp/toolbar/Preferences.jsx
  js/extension/reducers/cadastrapp.js
Labels: CADASTRAPP, Contract #2

#60 #36 Fixed proprietaires in property print page
  js/extension/api/api.js
  js/extension/components/landedproperty/Content.jsx
  js/extension/components/landedproperty/Modal.jsx
  js/extension/epics/mapSelection.js
Labels: CADASTRAPP, Contract #2

#62 #18: Request form style fix
  assets/translations/data.en-US.json
  assets/translations/data.fr-FR.json
  assets/translations/data.it-IT.json
  js/extension/cadastrapp.css
  js/extension/components/request/RequestObjectItem.jsx
Labels: CADASTRAPP, Contract #2, Priority: High, bug

#61 #47: Default styles configuration
  README.md
  js/extension/actions/cadastrapp.js
  js/extension/components/modals/Preferences.jsx
  js/extension/components/modals/__tests__/Preferences-test.js
  js/extension/plugins/cadastrapp/MainToolbar.jsx
  js/extension/plugins/cadastrapp/toolbar/Preferences.jsx
  js/extension/reducers/cadastrapp.js
  localConfig.json
Labels: CADASTRAPP, Contract #2, Priority: High, enhancement

#63 #18: Request object select menu drop up
  js/extension/cadastrapp.css
  js/extension/components/forms/SearchCombo.jsx
  js/extension/components/lists/ReferenceRow.jsx
  js/extension/components/request/RequestObjectItem.jsx
  js/extension/components/request/searchCombos/ProprietaireComboList.jsx
  js/extension/components/request/searchCombos/SectionCombo.jsx
Labels: CADASTRAPP, Contract #2, Priority: High, bug

#64 #59 & #57- Translations and bug fixes
  assets/translations/data.en-US.json
  assets/translations/data.fr-FR.json
  js/extension/components/PlotSelection.jsx
  js/extension/components/forms/Address.jsx
  js/extension/components/forms/Identifier.jsx
  js/extension/components/forms/Lot.jsx
  js/extension/components/forms/OwnerId.jsx
  js/extension/components/forms/OwnerLot.jsx
  js/extension/components/forms/Reference.jsx
  js/extension/components/forms/User.jsx
  js/extension/components/information/Buildings.jsx
  js/extension/components/information/HistoryMutation.jsx
  js/extension/components/information/InformationContent.jsx
  js/extension/components/information/Owners.jsx
  js/extension/components/information/Plot.jsx
  js/extension/components/information/PropertiesRadio.jsx
  js/extension/components/information/building/BuildingButtons.jsx
  js/extension/components/landedproperty/Modal.jsx
  js/extension/components/lists/ReferenceRow.jsx
  js/extension/components/lists/ReferencesList.jsx
  js/extension/components/lists/StrList.jsx
  js/extension/components/modals/Preferences.jsx
  js/extension/components/modals/Request.jsx
  js/extension/components/modals/Welcome.jsx
  js/extension/components/owners/Modal.jsx
  js/extension/components/plot/BundleInformationModal.jsx
  js/extension/components/plot/PlotSelectionToolbar.jsx
  js/extension/components/popup/PopupViewer.jsx
  js/extension/components/request/RequestItemsCheckboxes.jsx
  js/extension/components/request/RequestObject.jsx
  js/extension/components/request/RequestObjectItem.jsx
  js/extension/components/search/CoownershipSearch.jsx
  js/extension/components/search/OwnersSearch.jsx
  js/extension/components/search/PlotSearch.jsx
  js/extension/components/search/SearchButtons.jsx
  js/extension/components/style/StyleEditor.jsx
  js/extension/components/table/BuildingsTable.jsx
  js/extension/components/table/FiscalSubdivisionsTable.jsx
  js/extension/components/table/MultilineHeaderTable.jsx
  js/extension/components/table/OwnersListTable.jsx
  js/extension/components/table/OwnersTable.jsx
  js/extension/components/table/PlotsSelectionTable.jsx
  js/extension/plugins/cadastrapp/Header.jsx
  js/extension/plugins/cadastrapp/Information.jsx
  js/extension/plugins/cadastrapp/toolbar/Help.jsx
  js/extension/plugins/cadastrapp/toolbar/Preferences.jsx
  js/extension/plugins/cadastrapp/toolbar/RequestLanding.jsx
  js/extension/plugins/cadastrapp/toolbar/SearchTools.jsx
  js/extension/plugins/cadastrapp/toolbar/SelectionTools.jsx
  js/extension/plugins/cadastrapp/toolbar/TButton.jsx
  js/extension/plugins/cadastrapp/toolbar/ZoomTo.jsx
  js/extension/utils/requestForm.js
Labels: CADASTRAPP, Contract #2, Priority: High
