Repository georchestra/mapstore2-cadastrapp, pull requests merged in 2021-06, with the labels that each got.

#124 #113: Info on data freshness
  assets/translations/data.en-US.json
  assets/translations/data.fr-FR.json
  assets/translations/data.it-IT.json
  build/extension/commons.js
  build/extension/prod-webpack.config.js
  build/extension/webpack.config.js
  js/extension/cadastrapp.css
  js/extension/components/modals/Welcome.jsx
  js/extension/plugins/cadastrapp/Main.jsx
  js/extension/plugins/cadastrapp/MainPanel.jsx
  package.json
  webpack.config.js
Labels: CADASTRAPP, Contract #2, User feedback, enhancement

#126 #125 Adjust side bar for smaller screens
  js/extension/cadastrapp.css
Labels: CADASTRAPP

#132 #128: Plot selection column order change
  js/extension/components/table/PlotsSelectionTable.jsx
Labels: CADASTRAPP, Contract #2, Priority: Medium, User feedback
